body{
    margin:0;
    font-family: Arial, sans-serif;
    color:white;

    background-image: url('background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
table{
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(5px);
}

th{
background:#f59e0b;
}

td,th{
padding:10px;
border:1px solid white;
}

a{
color:#38bdf8;
text-decoration:none;
}

tr:hover{
background:#334155;
}