body{
font-family:Arial;
background:linear-gradient(135deg,#020617,#1e293b);
color:white;
text-align:center;
}

table{
margin:auto;
border-collapse:collapse;
width:85%;
}

th{
background:#f59e0b;
}

td,th{
padding:10px;
border:1px solid white;
}

a{
color:#38bdf8;
text-decoration:none;
}

tr:hover{
background:#334155;
}